/* $Id$ */
.block-single-blog .content ul {
    padding-left: 0; /* LTR */
}
.block-single-blog .content ul li {
    margin-bottom: 10px;
    list-style-type: none;
}

.block-single-blog .content ul li a{
    color: blue;
}